body {
	background: #aaa;
}

table {
	margin: auto;
    position: relative;
    top: 10vh;
    width: 500px;
    height: 500px;
}

tr {
	background: #aaa;
}

td {
	border: 1px solid white;
	background: #eee;
	border-radius: 5px;
	object-position: center;
	width: 33.3%;
	top: 33.3%;
	position: relative;
}

.img-c {
	height: 50%;
    width: 50%;
    position: absolute;
    left: 18%;
    top: 18%;
    right: 20%;
    border: 0.5em solid blue;
    border-radius: 50%;
    animation: mark-appear 0.5s;
}

.img-x {
	height: 50%;
    width: 50%;
    position: absolute;
    left: 18%;
    top: 18%;
    right: 20%;
    border: 0.5em solid red;
    border-radius: 5px;
    border-left: 25%;
    animation: mark-appear 0.5s;
}

.message {
	width: 400px;
	background: #EEEEEE;
	color: #000;
	position: fixed;
	left: 2em;
	top: 10vh;
	border-radius: 5px;
	font-size: 2em;
	padding: 10px 30px;
	font-family: 'century gothic';
	box-shadow: 10px 10px 20px #555;
	animation: appear 2s;
	padding-bottom: 50px;
}

.buttonOk {
	width: 120px;
	height: 35px;
	position: absolute;
	bottom: 15px;
	left: 320px;
	border-radius: 5px;
	border: none;
	background: #000;
	color: #fff;
}

.buttonNotOk {
	width: 120px;
	height: 35px;
	position: absolute;
	bottom: 15px;
	left: 190px;
	border-radius: 5px;
	border: none;
	background: #aaa;
	color: #222;
}

.text {
	font-size: 1,5em;
}

@keyframes appear {
	0% {
		background: #EEEEEE00;
		color: #00000000;
		top: -1vh;
	}
	100% {
		top: 10vh;
		background: #EEEEEEee;
		color: #000000FF;
	}
}

@keyframes mark-appear {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}