body {
	background: #05080c;
}

table {
	margin: 50px auto;
    position: relative;
    width: 500px;
    height: 500px;
}

tr {
	background: #05080c;
}

td {
	background: #cee3ff;
	border-radius: 5px;
	object-position: center;
	width: 33.3%;
	position: relative;
}

.img-c {
	height: 50%;
    width: 50%;
    position: absolute;
    left: 18%;
    top: 18%;
    right: 20%;
    border: 0.5em solid blue;
    border-radius: 50%;
    animation: mark-appear 0.5s;
}

.img-x {
	height: 50%;
    width: 50%;
    position: absolute;
    left: 18%;
    top: 18%;
    right: 20%;
    border: 0.5em solid red;
    border-radius: 5px;
    border-left: 25%;
    animation: mark-appear 0.5s;
}

.message {
	width: 400px;
	background: #EEEEEE;
	color: #000;
	position: fixed;
	left: 2em;
	top: 10vh;
	border-radius: 5px;
	font-size: 2em;
	padding: 10px 30px;
	font-family: 'century gothic';
	box-shadow: 10px 10px 20px #555;
	animation: appear 2s;
	padding-bottom: 50px;
}

.buttonOk {
	width: 120px;
	height: 35px;
	position: absolute;
	bottom: 15px;
	left: 320px;
	border-radius: 5px;
	border: none;
	background: #000;
	color: #fff;
}

.buttonNotOk {
	width: 120px;
	height: 35px;
	position: absolute;
	bottom: 15px;
	left: 190px;
	border-radius: 5px;
	border: none;
	background: #aaa;
	color: #222;
}

.text {
	font-size: 1,5em;
}

.figure-select {
	background: #9ca2ad;
	height: 50px;
	width: 300px;
	display: block;
	padding: 0px 0px 8px 0px;
	margin: auto;
	border-radius: 7px;
}

.sel {
	margin-left: 25px;
	width: 17.5%;
}

.mark-select {
	display: inline-block;
	position: relative;
	margin: 0;
	width: 49.3%;
	height: 100%;
	border-radius: 6px;
	border-bottom: 6px solid #00000000;
	padding-bottom: 5px;
}

.active-sel {
	border-bottom: 6px solid #032356;
	background: #bec9db;
	animation: mark-appear .3s;
}

#c,#x {
	width: 0;
	height: 0;
}

.myMark {
	position: absolute;
	top: 0px;
	width: 500px;
	height: 15px;
	background: #28ffac;
	border-radius: 8px;
	animation: line_mark 1s;
}

/*linea de marcado #8e9299*/

@keyframes appear {
	0% {
		background: #EEEEEE00;
		color: #00000000;
		top: -1vh;
	}
	100% {
		top: 10vh;
		background: #EEEEEEee;
		color: #000000FF;
	}
}

@keyframes line_mark {
	0% {
		width: 0px;
	}
	100% {
		width: 500px;
	}
}

@keyframes line_mark2 {
	0% {
		top: 240px;
		left: -70px;
		width: 0px;
	}
	100% {
		top: 240px;
		left: -70px;
		width: 650px;
	}
}

@keyframes line_mark3 {
	0% {
		height: 0px;
	}
	100% {
		height: 500px;
	}
}

@keyframes mark-appear {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}